/*============================ 
	IMPORTS
============================*/

@import 'reset/reset';

/*===========================
	INDEX STYLING
===========================*/

body {
	width: 100%;
	font-family: 'Times New Roman', sans-serif;
	text-shadow: 1px 1px 5px #000;
}

@for $i from 0 through 9 {
	body.change-#{$i} {
		background: url('../img/level-#{$i}.jpg') no-repeat #000;
		background-size: cover;
	}	
}


main {
	height: 700px;
	margin: 0 auto;
	width: 65%;
	text-align: center;
}

main h1 {
	text-align: center;
	color: #fff;
	font-size: 5em;
	font-weight: bold;
	padding-top: 25px;
}

button {
	&:hover {
		cursor: pointer; 
	}
}

.buttons {
	margin-top: 30px;
}

.btn {
	height: 300px;
	width: 147px;
	border: none;
	color: #fff;
	font-weight: bold;
	font-size: 3em;
	margin: 30px 15px 150px;
}

.btn-1 {
	background: url('../img/blue-crystal.png');
}

.btn-2 {
	background: url("../img/red-crystal.png");
}

.btn-3 {
	background: url("../img/mauve-crystal.png");	
}

.btn-4 {
	background: url("../img/yellow-crystal.png");	
}

.total,
.target-value,
.wins, 
.declaration {
	font-weight: bold;
	color: #fff;
	font-size: 5em;
}

.hide-me {
	display: none;
}