/*============================ 
	IMPORTS
============================*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*===========================
	INDEX STYLING
===========================*/
body {
  width: 100%;
  font-family: 'Times New Roman', sans-serif;
  text-shadow: 1px 1px 5px #000;
}

body.change-0 {
  background: url("../img/level-0.jpg") no-repeat #000;
  background-size: cover;
}

body.change-1 {
  background: url("../img/level-1.jpg") no-repeat #000;
  background-size: cover;
}

body.change-2 {
  background: url("../img/level-2.jpg") no-repeat #000;
  background-size: cover;
}

body.change-3 {
  background: url("../img/level-3.jpg") no-repeat #000;
  background-size: cover;
}

body.change-4 {
  background: url("../img/level-4.jpg") no-repeat #000;
  background-size: cover;
}

body.change-5 {
  background: url("../img/level-5.jpg") no-repeat #000;
  background-size: cover;
}

body.change-6 {
  background: url("../img/level-6.jpg") no-repeat #000;
  background-size: cover;
}

body.change-7 {
  background: url("../img/level-7.jpg") no-repeat #000;
  background-size: cover;
}

body.change-8 {
  background: url("../img/level-8.jpg") no-repeat #000;
  background-size: cover;
}

body.change-9 {
  background: url("../img/level-9.jpg") no-repeat #000;
  background-size: cover;
}

main {
  height: 700px;
  margin: 0 auto;
  width: 65%;
  text-align: center;
}

main h1 {
  text-align: center;
  color: #fff;
  font-size: 5em;
  font-weight: bold;
  padding-top: 25px;
}

button:hover {
  cursor: pointer;
}

.buttons {
  margin-top: 30px;
}

.btn {
  height: 300px;
  width: 147px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 3em;
  margin: 30px 15px 150px;
}

.btn-1 {
  background: url("../img/blue-crystal.png");
}

.btn-2 {
  background: url("../img/red-crystal.png");
}

.btn-3 {
  background: url("../img/mauve-crystal.png");
}

.btn-4 {
  background: url("../img/yellow-crystal.png");
}

.total,
.target-value,
.wins,
.declaration {
  font-weight: bold;
  color: #fff;
  font-size: 5em;
}

.hide-me {
  display: none;
}

/*# sourceMappingURL=style.css.map */
